.max-width {
  max-width: 1920px;
  margin: 0 auto;
}

.about-me {
  background-color: #1c1c1c;
  margin-top: 128px;
  margin-bottom: 128px;
}

.about-me-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 62px;
  padding-right: 62px;
}

.about-me-box-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me-image {
  position: relative;
  border-radius: 30px;
  width: 568px;
  height: 568px;
  z-index: 0;
  box-sizing: border-box;
}

.about-me-image::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background: repeating-linear-gradient(
    -135deg,
    rgba(0, 255, 200, 0.8) 0 2px,
    transparent 2px 26px
  );
  opacity: 0;
  transform: translate(0, 0);
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  z-index: -1;
}

.about-me-image::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background-image: url('/assets/About-Me/Amas_about_me.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

@media (min-width: 1286px) {
  .about-me-image:hover::before {
    opacity: 1;
    transform: translate(-32px, 14px);
  }
}

@media (max-width: 1285px) and (min-width: 319px) {
  .about-me-image::before {
    background: repeating-linear-gradient(
      -135deg,
      rgba(0, 255, 200, 0.8) 0 2px,
      transparent 2px 15px
    );
    opacity: 0;
    transform: translate(0, 0);
    transition:
      opacity 0.25s ease,
      transform 0.25s ease;
  }

  .about-me-image.show-effect::before {
    opacity: 1;
    transform: translate(-18px, 14px);
  }
}

@media (max-width: 1340px) {
  .about-me-image {
    margin-top: 64px;
  }

  .about-me-container {
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
  }

  .about-me-box-container {
    padding-top: 64px;
  }
}

.about-me-box {
  width: 568px;
  box-sizing: border-box;
  background: #3dcfb61a;
  border-radius: 30px;
  border: 1px solid #3dcfb6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
}

.who-i-am {
  font-family: Karla;
  font-size: 24px;
  font-weight: 500;
  color: #3dcfb6;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

p {
  font-size: 18px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.about-me-text-icons {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.about-me-text-icons:hover .about-me-icons {
  scale: 1.1;
}

.about-me-text-icons:hover .about-me-text {
  color: white;
}

.about-me-icons {
  width: 32px;
  height: 32px;
  padding-top: 20px;
  padding-bottom: 16px;
  transition: scale 0.2s ease;
}

.about-me-text {
  font-family: Karla;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  user-select: none;
  cursor: default;
  transition: color 0.2s ease;
}

@media (max-width: 800px) {
  .about-me {
    margin-top: 32px;
  }
}

@media (max-width: 700px) {
  .about-me-image {
    width: 512px;
    height: 512px;
  }

  .about-me-box {
    width: 512px;
  }

  h1 {
    font-size: 56px;
  }

  p,
  .about-me-text {
    font-size: 16px;
  }
}

@media (max-width: 624px) {
  .about-me-image,
  .about-me-box {
    width: 468px;
  }

  .about-me-image {
    height: 468px;
  }

  h1 {
    font-size: 48px;
  }
}

@media (max-width: 532px) {
  .about-me-image,
  .about-me-box {
    width: 416px;
  }

  .about-me-image {
    height: 416px;
  }

  h1 {
    font-size: 42px;
  }
}

@media (max-width: 460px) {
  .about-me-image,
  .about-me-box {
    width: 346px;
  }

  .about-me-image {
    height: 346px;
  }

  .about-me-box {
    padding: 24px;
  }
}

@media (max-width: 380px) {
  .about-me-image,
  .about-me-box {
    width: 280px;
  }

  .about-me-image {
    height: 280px;
  }

  .about-me-box {
    padding: 20px;
  }

  h1 {
    font-size: 36px;
  }

  p,
  .about-me-text {
    font-size: 13px;
  }
}

@media (max-width: 320px) {
  .about-me-image,
  .about-me-box {
    width: 260px;
  }

  .about-me-image {
    height: 260px;
  }

  .about-me-box {
    padding: 16px;
  }

  h1 {
    font-size: 32px;
  }
}
