.about-me-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 96px;
  padding-right: 96px;
  background-color: #1C1C1C;
}

.about-me-box-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 224px;
}

.about-me-image {
  position: relative;
  border-radius: 30px;
  width: 568px;
  height: 568px;
  padding-top: 0;
  z-index: 0;
}

.about-me-image::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background: repeating-linear-gradient(
    -135deg,
    rgba(0, 255, 200, 0.8) 0 2px,
    transparent 2px 26px
  );
  opacity: 0;
  transform: translate(0, 0);
  transition: opacity 0.25s ease, transform 0.25s ease;
  z-index: -1;
}

.about-me-image:hover::before {
  opacity: 1;
  transform: translate(-32px, 14px);
}

.about-me-image::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background-image: url('/assets/About-Me/Amas_about_me.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.who-i-am {
  font-family: Karla;
  font-size: 24px;
  font-weight: 500;
  color: #3DCFB6;
  margin-bottom: 20px;
}

.about-me-box {
  width: 568px;
  height: 568px;
  background: #3DCFB61A;
  border-radius: 30px;
  border: 1px solid #3DCFB6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 32px;
  padding-right: 32px;
}

h1 {
  font-family: FiraCode;
  color: #3DCFB6;
  font-size: 64px;
  font-weight: 700;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  letter-spacing: -0.03em;
}

p {
  font-family: Karla;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.about-me-text-icons {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  &:hover {
    .about-me-icons {
      scale: 1.1;
    }

    .about-me-text {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.about-me-icons {
  width: 32px;
  height: 32px;
  padding-top: 20px;
  padding-bottom: 16px;
  transition: scale 0.2s ease;
}

.about-me-text {
  font-family: Karla;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  user-select: none;
  cursor: default;
  transition: color 0.2s ease;
}
