<section class="about-me-container">

    <div class="about-me-image">
    </div>

    <div class="about-me-box-container">
        <span class="who-i-am">Who I Am</span>
        <div class="about-me-box">
            <h1>About me</h1>
            <p>Hey there, I'm Lukas! Write some information about yourself that is IT related. Why are you passionate
                about coding? What is your source of inspiration for improving your programming skills?</p>

            <div class="about-me-text-hover">

                <div class="about-me-text-icons">
                    <img class="about-me-icons" src="assets/About-Me/location_on.png" alt="">
                    <p class="about-me-text">Where are you based? Would you be open to working remotely or potentially relocating?</p>
                </div>

                <div class="about-me-text-icons">
                    <img class="about-me-icons" src="assets/About-Me/cognition.png" alt="">
                    <p class="about-me-text">Show that you are open-minded. Are you enthusiastic about learning new technologies and
                        continually improving your skills?</p>
                </div>

                <div class="about-me-text-icons">
                    <img class="about-me-icons" src="assets/About-Me/new_releases.png" alt="">
                    <p class="about-me-text">A brief description of your problem-solving approach.
                        Do you learn from each challenge as you search for the most efficient or elegant solution? You
                        can include some keywords like: analytical thinking, creativity, persistence and collaboration.
                    </p>
                </div>
            </div>

        </div>
    </div>

</section>