.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 128px;

    padding-left: 96px;
    padding-right: 96px;
    transform: translateY(-320px);

}


.about-me-box-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 224px;

}

.about-me-image {
  position: relative;
  border-radius: 30px;
  background-image: url('/assets/About-Me/Amas_about_me.JPG');
  width: 568px;
  height: 568px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 0;
}

.about-me-image::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 0);
  background: repeating-linear-gradient(
    -135deg,
    rgba(0, 255, 200, 0.8) 0 2px,
    transparent 2px 26px
  );
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.about-me-image:hover::after {
  opacity: 1;
  transform: translate(-32px, 14px);
}



.who-i-am {
    font-family: Karla;
    font-size: 24px;
    font-weight: 500;
    color: #3DCFB6;
    margin-bottom: 20px;
}

.about-me-box {
    width: 568px;
    height: 568px;
    background: #3DCFB61A;
    border-radius: 30px;
    border: solid;
    border-color: #3DCFB6;
    border-width: 1px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 32px;
    padding-right: 32px;
}

h1 {
    font-family: FiraCode;
    background: none;
    color: #3DCFB6;
    font-size: 64px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

p {
    background: none;
    font-family: Karla;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}


.about-me-text-icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.about-me-icons {
    width: 32px;
    height: 32px;
    padding-top: 20px;
    padding-bottom: 16px;
}

.about-me-text {
    font-family: Karla;
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    background: none;
}

.about-me-text:hover {
    color: rgba(255, 255, 255, 1);
    cursor: default;
}