<section class="about-me">
  <div class="about-me-container max-width">
    <div
      #aboutImage
      class="about-me-image"
      (mouseenter)="activateEffect()"
      (touchstart)="activateEffect()"
    ></div>
    <div class="about-me-box-container">
      <span class="who-i-am">
        {{ 'ABOUT.WHO' | translate }}
      </span>
      <div class="about-me-box">
        <h1>
          {{ 'ABOUT.TITLE' | translate }}
        </h1>
        <p>
          {{ 'ABOUT.TEXT_1' | translate }}
          <br /><br />
          {{ 'ABOUT.TEXT_2' | translate }}
        </p>
        <div class="about-me-text-hover">
          <div class="about-me-text-icons">
            <img class="about-me-icons" src="assets/About-Me/location_on.png" alt="" />
            <p class="about-me-text">
              {{ 'ABOUT.ITEM_1' | translate }}
            </p>
          </div>
          <div class="about-me-text-icons">
            <img class="about-me-icons" src="assets/About-Me/cognition.png" alt="" />
            <p class="about-me-text">
              {{ 'ABOUT.ITEM_2' | translate }}
            </p>
          </div>
          <div class="about-me-text-icons">
            <img class="about-me-icons" src="assets/About-Me/new_releases.png" alt="" />
            <p class="about-me-text">
              {{ 'ABOUT.ITEM_3' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
