<section class="portfolio-container">
  <div class="portfolio-text-container">
    <span class="portfolio">Portfolio</span>
    <div class="portfolio-main-text">
      <h1>Featured Projects</h1>
      <p>Explore a selection of my work here - Interact with <br> projects to see my skills in action.</p>
    </div>
  </div>
  <div class="main-projects">
    <div class="project">
      <div class="project-text">
        <div class="project-text-inner">
          <h2>Join <img class="arrow" src="/assets/Portoflio/arrow_outward.png" alt="arrow"> </h2>
          <p> Angular <span class="pipe">|</span> TypeScript <span class="pipe">|</span> HTML <span class="pipe">|</span> CSS <span class="pipe">|</span> Firebase </p>
        </div>
      </div>
      <img class="project-image" src="/assets/Portoflio/join.png" alt="Join">
    </div>
    <div class="project">
      <div class="project-text">
        <div class="project-text-inner">
          <h2>El Pollo Loco <img class="arrow" src="/assets/Portoflio/arrow_outward.png" alt="arrow"> </h2> 
          <p> HTML <span class="pipe">|</span> CSS <span class="pipe">|</span> JavaScript </p>
        </div>
      </div>
      <img class="project-image" src="/assets/Portoflio/el-pollo-loco.png" alt="El Pollo Loco">
    </div>
    <div class="project">
      <div class="project-text">
        <div class="project-text-inner">
          <h2>DA Bubble <img class="arrow" src="/assets/Portoflio/arrow_outward.png" alt="arrow"></h2>
          <p> Angular <span class="pipe">|</span> Firebase <span class="pipe">|</span> TypeScript </p>
        </div>
      </div>
      <img class="project-image" src="/assets/Portoflio/da-bubble.png" alt="DA Bubble">
    </div>
  </div>
</section>