nav {

}

a {
    margin-right: 24px;
    font-weight: 400;
    font-size: 20px;
}

.logo{
    width: 60px;
    height: 108px;

}

.left {
    display: flex;
    justify-content: flex-start;
}

.language-container-btn {
    display: flex;
    justify-content: space-between;
    border: solid;
    border-color: #3DCFB6;
    border-width: 2px;
    border-radius: 50px;
    margin-right: 24px;
}

.language-btn {
    outline: none;
    border: none;
    background: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 16px;
}

.language-btn:hover {
    border-radius: 50px;
    background-color: #3DCFB6;
    cursor: pointer;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 0;
    font-size: 128px;
    font-weight: 700;
    margin-top: 12px ;
}

h3{
    margin: 0;
    font-size: 40px;
    font-weight: 400;
}