.main-header {
    background: linear-gradient(40deg, rgba(28, 28, 28, 1) 46%, rgba(8, 70, 59, 1) 100%);
    min-height: 100vh;
    height: 900px;
    padding-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
    margin-left: 96px;
    margin-right: 96px;
    height: 98px;


}

.nav-logo {
    width: 60px;
    height: 108px;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.language-switcher {
    display: flex;
    justify-content: space-between;
    border: 2px solid #3DCFB6;
    border-radius: 50px;
    margin-right: 24px;
}

.language-option {
    outline: none;
    border: none;
    background: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 16px;
}

.language-option:hover {
    border-radius: 50px;
    background-color: #3DCFB6;
    cursor: pointer;
}

a {
    margin-right: 24px;
    font-weight: 400;
    font-size: 20px;
}

.point_hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.point {
    margin-top: 6px;
    margin-right: 24px;
    width: 7px;
    height: 7px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out;
}

.point_hover a:hover+.point {
    opacity: 1;
    visibility: visible;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 128px;
    font-weight: 700;
    font-family: Karla;
    margin: 12px 0;
}

h3 {
    font-family: FiraCode;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.hero-actions {
    display: flex;
    margin: 0 24px;
}

.hero-button {
    z-index: 10;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    padding: 10px 24px;
    border-radius: 100px;
    margin: 0 24px;
    overflow: hidden;
    position: relative;
}

.hero-button:hover {
    color: #3DCFB6;
    border-color: #3DCFB6;
    cursor: pointer;
}

.btn-text {
    display: inline-block;
}

.hero-button:hover .btn-text {
    animation: loopText 0.5s ease-in-out forwards;
}

.hero-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transform: translateY(-220px);
    margin-left: 96px;
    margin-right: 96px;
}

.hero-side-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.hero-side-logos {
    width: 46px;
    height: 32px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    flex-shrink: 0;
}


.hero-side-logos.github {
    background-image: url("/assets/Hero_Section/GitHub_Logo.png");
}

.hero-side-logos.github:hover {
    background-image: url("/assets/Hero_Section/GitHub_Logo_hovered.png");
    background-position: left center;
    transform: translateX(6.5px);
}

.hero-side-logos.mail {
    background-image: url("/assets/Hero_Section/Mail_Logo.png");
}

.hero-side-logos.mail:hover {
    background-image: url("/assets/Hero_Section/Mail_Logo_hovered.png");
    background-position: center center;
    transform: translateX(6px);
}

.scroll-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-arrow {
    border: 1px solid #3DCFB6;
    padding: 16px 10px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-line {
    width: 1px;
    height: 240px;
    background-color: #3DCFB6;
}

.scroll-line-right {
    width: 1px;
    height: 224px;
    background-color: #ffffff;
}

.arrow-icon {
    animation: arrowFloat 1.2s ease-in-out infinite;
    height: 28px;
}

.email-link {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0;
    align-self: center;
}

.email-link:hover {
    color: #3DCFB6;
}

.slider-infinite {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(5.3px);
    width: 120vw;
    left: 50%;
    position: relative;
    transform: translateY(320%) rotate(-3deg) translateX(-50%);
}

.slider-track {
    display: flex;
    width: max-content;
    animation: marquee 10s linear infinite;
}

.slide {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    white-space: nowrap;
    padding: 16px 0;
}

.slider-infinite-text {
    font-family: Karla;
    font-size: 32px;
    color: #3DCFB6;
    margin-right: 56px;
}

.slider-points {
    width: 12px;
    height: 12px;
    margin-right: 56px;
}

@keyframes loopText {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    40% {
        transform: translateX(150%);
        opacity: 0;
    }

    41% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes arrowFloat {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}