<section class="main-header max-width">
    <nav>
        <div class="nav-left">
            <div class="language-switcher">
                <button class="language-option">EN</button>
                <button class="language-option">DE</button>
            </div>

            <div class="nav-links">
                <div class="point_hover nav-left">
                    <a href="">About me</a>
                    <img src="assets/Hero_Section/point.png" alt="point" class="point">
                </div>

                <div class="point_hover">
                    <a href="">Skills</a>
                    <img src="assets/Hero_Section/point.png" alt="point" class="point">
                </div>

                <div class="point_hover">
                    <a href="">Projects</a>
                    <img src="assets/Hero_Section/point.png" alt="point" class="point">
                </div>
            </div>
        </div>

        <img src="assets/amas-movsisian-logo.png" class="nav-logo" alt="Logo">
        
    </nav>

    <section class="hero">
        <div class="hero-heading">
            <h3>Full Stack Developer</h3>
            <h1>Amas Movsisan</h1>
        </div>
        <div class="hero-actions">
            <button class="hero-button">
                <span class="btn-text">Check my work</span>
            </button>

            <button class="hero-button">
                <span class="btn-text">Contact me</span>
            </button>
        </div>
    </section>

    <div class="slider-infinite max-width ">
        <div class="slider-track">
            <div class="slide">
                <img class="slider-points" src="assets/Hero_Section/point.png">
                <span class="slider-infinite-text">Available for remote work</span>
                <img class="slider-points" src="assets/Hero_Section/point.png">
                <span class="slider-infinite-text">Full Stack Developer</span>
                <img class="slider-points" src="assets/Hero_Section/point.png">
                <span class="slider-infinite-text">Based in Dortmund</span>
                <img class="slider-points" src="assets/Hero_Section/point.png">
                <span class="slider-infinite-text">Open to work</span>
            </div>

            <div class="slide">
                <img class="slider-points" src="assets/Hero_Section/point.png">
                <span class="slider-infinite-text">Available for remote work</span>
                <img class="slider-points" src="assets/Hero_Section/point.png">
                <span class="slider-infinite-text">Full Stack Developer</span>
                <img class="slider-points" src="assets/Hero_Section/point.png">
                <span class="slider-infinite-text">Based in Dortmund</span>
                <img class="slider-points" src="assets/Hero_Section/point.png">
                <span class="slider-infinite-text">Open to work</span>
            </div>
        </div>
    </div>

    <section class="hero-meta">
        <div class="scroll-indicator">
            <p class="scroll-arrow">
                <span class="arrow-icon">&#8595;</span>
            </p>
            <div class="scroll-line"></div>
        </div>
        <div class="hero-side-info">
            <a class="email-link" href="mailto:Amas2017@icloud.com">Amas2017@icloud.com</a>

            <div class="hero-side-logos github"></div>
            <div class="hero-side-logos mail"></div>

            <div class="scroll-line-right"></div>
        </div>
    </section>

</section>
