<nav>
    <div class="left">
        <div class="language-container-btn">
            <button class="language-btn">EN</button>
            <button class="language-btn">DE</button>
        </div>
            <div class="links">
                <a href="">About me</a>
                <a href="">Skills</a>
                <a href="">Projects</a>
            </div>
    </div>
        <img src="assets/amas-movsisian-logo.png" class="logo" alt="Logo">
</nav>
   

<section class="hero">
    <div class="myName">
    <h3>Full Stack Developer</h3>
    <h1>Amas Movsisian</h1>
    </div>
        <button>Check my work</button>
        <button>Contact me</button>

</section>

<marquee direction="right" scrollamount="3">
  Ich laufe nach rechts
</marquee>


