<section class="dialog-container #dialogContent">
  <div class="top-row">
    <img
      class="close"
      src="/assets/Portfolio-Dialog/close.png"
      alt="close"
      (click)="closeDialog()"
    />
  </div>

  <div class="middle-row">
    <div class="info-section">
      <div class="number-titel">
        <span class="project-number">
          {{ projectNumber }}
        </span>

        <h1>
          {{ title }}
        </h1>
      </div>

      <div class="message-container">
        <h2>
          {{ 'DIALOG.ABOUT_PROJECT' | translate }}
        </h2>

        <p>
          {{ messageKey | translate }}
        </p>
      </div>

      <div class="icons">
        @for (icon of icons; track icon) {
          <img class="icon" [src]="icon" alt="icon" />
        }
      </div>

      <div class="dialog-btns">
        <a class="dialog-button" [href]="githubLink" target="_blank" rel="noopener noreferrer">
          <div class="btn-text-arrow">
            <span class="btn-text"> GitHub </span>

            <img class="btn-arrow" src="/assets/Portfolio-Dialog/arrow_outward.png" alt="arrow" />
          </div>
        </a>

        <a class="dialog-button" [href]="liveLink" target="_blank" rel="noopener noreferrer">
          <div class="btn-text-arrow">
            <span class="btn-text">
              {{ 'DIALOG.LIVE_TEST' | translate }}
            </span>

            <img class="btn-arrow" src="/assets/Portfolio-Dialog/arrow_outward.png" alt="arrow" />
          </div>
        </a>
      </div>
    </div>

    <div class="image-section">
      <img class="main-img" [src]="mainImagePath" alt="project image" />
    </div>
  </div>

  <div class="bottom-row">
    <div class="next-project" (click)="goToNextProject()">
      <span class="next-project-txt">
        {{ 'DIALOG.NEXT_PROJECT' | translate }}
      </span>

      <img class="next-arrow" src="/assets/Portfolio-Dialog/arrow.png" alt="arrow" />
    </div>
  </div>
</section>
