<section class="dialog-container">
  <div class="info-section">

    <div class="number-titel">
      <span class="project-number">{{ projectNumber }}</span>
      <h1>{{ title }}</h1>
    </div>

    <div class="message-container">
      <h2>What is this project about?</h2>
      <p>{{ message }}</p>
    </div>

    <div class="icons">
      @for (icon of icons; track icon) {
        <img class="icon" [src]="icon" alt="icon">
      }
    </div>

    <div class="dialog-btns">
      <button class="dialog-button">
        <div class="btn-text-arrow">
        <span class="btn-text">GitHub</span>
        <img class="btn-arrow" src="/assets/Portfolio-Dialog/arrow_outward.png" alt="arrow">
        <!-- <img src="/assets/Portfolio-Dialog/arrow.png" alt="arrow"> -->
         </div>
      </button>

      <button class="dialog-button">
        <div class="btn-text-arrow">
        <span class="btn-text">Live Test</span>
        <img class="btn-arrow" src="/assets/Portfolio-Dialog/arrow_outward.png" alt="arrow">
        <!-- <img src="/assets/Portfolio-Dialog/arrow.png" alt="arrow">  -->
         </div>
      </button>
    </div>

  </div>

  <div class="image-container">
    <img class="close" src="/assets/Portfolio-Dialog/close.png" alt="close">

    <img class="main-img" [src]="mainImagePath" alt="project image">

    <div class="next-project">
      <span class="next-project-txt">Next project</span>
      <img class="next-arrow" src="/assets/Portfolio-Dialog/arrow.png" alt="arrow">
    </div>
  </div>
</section>
