.contact-me-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 96px;
    padding-left: 96px;

    margin-bottom: 128px;
}

.contact-me-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
        height: 541px;
}

h3{
font-family: Karla;
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: #3DCFB6;

margin-bottom: 20px;
}

h1{
font-family: FiraCode;
font-weight: 700;
font-style: Bold;
font-size: 64px;
line-height: 100%;
letter-spacing: -3%;
color: #3DCFB6;

margin-bottom: 40px;
}

h2{
font-family: FiraCode;
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 120%;
letter-spacing: 0%;
color: #3DCFB6;

margin-bottom: 16px;
}

p{
font-family: Karla;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 120%;
letter-spacing: 0%;
color: #ffffff;

margin-bottom: 16px;
}

.need-dev{
font-family: Karla;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 120%;
letter-spacing: 0%;
color: #ffffff;

margin-top: 16px;
}

.lets-talk{
font-family: Karla;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 120%;
letter-spacing: 0%;
color: #3DCFB6;

}

.contact-me-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    width: 616px;
    height: 550px;
}

.contact-me-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;


}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: 541px;
    width: 616px;
}

.line{
    height: 1px;
    width: 100%;
    background-color: #3DCFB6;

    margin-bottom: 32px;
}

label{
font-family: FiraCode;
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 120%;
letter-spacing: 0%;

color: #3DCFB6;

padding-left: 32px;
margin-bottom: 20px;
}

input {
  width: 100%;
  background: none;
  outline: none;
  border: none;

    font-family: Karla;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;

  padding-left: 32px;
  margin-bottom: 32px;

  &::placeholder {
    font-family: Karla;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
  }

  &:focus {
    font-family: Karla;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
  }
}


.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #3DCFB6;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;

        &:hover{
            background-color: rgba(61, 207, 183, 0.3);
        }
}

.checkbox-container input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #3DCFB6;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: block;
}

.checkbox-text{
font-family: Karla;
font-weight: 400;
font-style: Regular;
font-size: 15px;
line-height: 120%;
letter-spacing: 0%;
text-align: justify;

}

a{
font-family: Karla;
font-weight: 400;
font-style: Regular;
font-size: 15px;
line-height: 120%;
letter-spacing: 0%;

color: #3DCFB6;

    &:hover{
        color: #ffffff;
        text-decoration: underline #3DCFB6;
        text-underline-offset: 8px;
    }
}

.contact-me-btn {
    z-index: 10;
    border: 1px solid #fff;
    background: none;
    padding: 10px 24px;
    border-radius: 100px;
    margin: 0 24px;
    overflow: hidden;
    position: relative;

    font-family: Karla;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;

    margin-top: 32px;
    align-self: center;

    color: rgba(255, 255, 255, 0.8);

}

.contact-me-btn:hover {
    color: #3DCFB6;
    border-color: #3DCFB6;
    cursor: pointer;
}

.btn-text {
    display: inline-block;
}

.contact-me-btn:hover .btn-text {
    animation: loopText 0.5s ease-in-out forwards;
}

@keyframes loopText {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    40% {
        transform: translateX(150%);
        opacity: 0;
    }

    41% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
