<section class="contact-me-container max-width">
  <div class="contact-me-text-container">
    <h3>Contact me</h3>

    <h1>
      Let's work <br />
      together
    </h1>

    <h2>Got a problem to solve?</h2>

    <p>
      Encourage people to contact you and describe what role you are interested in.<br />
      Show that you will add value to their projects through your work.
    </p>

    <span class="need-dev">
      Need a Frontend developer?
      <span class="lets-talk">Let’s talk!</span>
    </span>
  </div>

  <div class="contact-me-form">
    <form class="form-container" [formGroup]="contactForm" (ngSubmit)="sendMail()">
      <div class="line"></div>

      <label for="name"> What's your name? </label>

      <input type="text" id="name" placeholder="Your name goes here" formControlName="name" />

      <div class="line"></div>

      <label for="email"> What's your email? </label>

      <input type="email" id="email" placeholder="youremail@email.com" formControlName="email" />

      <div class="line"></div>

      <label for="message"> How can I help you? </label>

      <input
        type="text"
        id="message"
        placeholder="What do you need to develop?"
        formControlName="message"
      />

      <div class="line"></div>

      <div class="checkbox-container" (click)="toggleCheckbox()">
        <div class="checkmark" [class.checked]="isChecked">
          @if (isChecked) {
            <span class="checkmark-icon"></span>
          }
        </div>

        <span class="checkbox-text">
          I've read the
          <a href="" (click)="$event.stopPropagation()"> privacy policy </a>
          and agree to the processing of my data as outlined.
        </span>
      </div>

      <button class="contact-me-btn" type="submit" [disabled]="contactForm.invalid">
        <span class="btn-text"> Say Hello ;) </span>
      </button>
    </form>
  </div>
</section>
