<section class="references-container max-width">
  <h2>
    {{ 'REFERENCES.TITLE' | translate }}
  </h2>

  <div class="all-comments">
    <img class="quotes" src="/assets/References/quotes.png" alt="quotes" />

    @for (comment of comments; track comment.id; let i = $index) {
      <div
        class="comment-box"
        [id]="comment.id"
        [class]="getPositionClass(i)"
        (click)="goToSlide(i)"
      >
        <p>
          {{ comment.textKey | translate }}
        </p>

        <div class="references-footer">
          <div class="line"></div> 
<br><br>
          <p>
            {{ comment.author }}
          </p>
        </div>
      </div>
    }
  </div>

  <div class="slider-nav">
    <img
      class="arrow-left"
      src="/assets/References/arrow_left.png"
      alt="arrow"
      (click)="prevSlide()"
    />

    @for (comment of comments; track comment.id; let i = $index) {
      <a (click)="goToSlide(i)">
        <img
          class="dots"
          [src]="
            currentIndex === i ? '/assets/References/dot_hovered.png' : '/assets/References/dot.png'
          "
          alt="dot"
        />
      </a>
    }

    <img
      class="arrow-right"
      src="/assets/References/arrow_right.png"
      alt="arrow"
      (click)="nextSlide()"
    />
  </div>
</section>
