<section class="skills">
  <div class="skills-container max-width">
    <div class="technologies-container">
      <span class="technologies">
        {{ 'SKILLS.TECHNOLOGIES' | translate }}
      </span>

      <div class="skills-box">
        <div class="skill-box-text">
          <h1>
            {{ 'SKILLS.TITLE' | translate }}
          </h1>

          <p class="multiline-text">
            {{ 'SKILLS.DESCRIPTION' | translate }}
          </p>

          <div class="skill-box-text-bottom">
            <h2>
              {{ 'SKILLS.NEED' | translate }}

              <span class="colored-text">
                {{ 'SKILLS.ANOTHER' | translate }}
              </span>
            </h2>

            <span class="skills-footer-text multiline-text">
              {{ 'SKILLS.FOOTER' | translate }}
            </span>
          </div>
        </div>

        <a routerLink="/" [fragment]="'contact'" class="hero-button">
          <span class="btn-text">
            {{ 'SKILLS.BUTTON' | translate }}
          </span>
        </a>
      </div>
    </div>

    <div class="icons-container">
      @for (icon of frontEndIcons; track icon.name) {
        <div class="icons-and-names">
          <img class="icons" [src]="icon.path" [alt]="icon.name" />

          <p class="icons-names">
            {{ icon.name }}
          </p>
        </div>
      }

      <div class="icons-and-names growth-item">
        <img class="growth-interest" [src]="growthImage" alt="Growth Mindset" />

        <img class="icon-growth" src="/assets/Skills/Growth Mindset/Growth.png" alt="" />

        <p class="icons-names">
          {{ 'SKILLS.GROWTH' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
