/* You can add global styles to this file, and also import other style files */

body{
    background: linear-gradient(90deg, rgba(28, 28, 28, 1) 0%, rgba(8, 70, 59, 1) 100%);
    color: #ffffff;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 48px;
    min-height: 100vh;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}